@import "tailwindcss" important;

@keyframes loadingAnimation {
	0% {opacity: 40%;}
	50% {opacity: 65%;}
	100% {opacity: 40%;}
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-specialelite: "SpecialElite", "sans-serif";

	/*Dark Colors*/
	--color-dark-header: #0e0e0e;
	--color-dark-notification: #0e0e0e;
	--color-dark-text: #f1f1f1;

	--color-dark-bg-gradient-start: #030303;
	--color-dark-bg-gradient-end: #1f1f1f;

	--color-dark-prop-gradient-start: #8c8c8c;
	--color-dark-prop-gradient-end: #1a1a1a;

	/*Light Colors*/
	--color-light-header: #ebebeb;
	--color-light-notification: #ebebeb;
	--color-light-text: #121212;

	--color-light-bg-gradient-start: #fafafa;
	--color-light-bg-gradient-end: #e0e0e0;

	--color-light-prop-gradient-start: #212121;
	--color-light-prop-gradient-end: #cccccc;

	--color-discord: #7289da;
	--color-golden: #ffdf00;
	--color-catarse: #17a338;

	--color-darkprimary: #0e5d2a;
	--color-primary: #1fc057;

	--color-success: #1fc057;
	--color-error: #f23d3d;

	--animate-spin-slow: spin 290s linear infinite;
	--animate-loading: loadingAnimation 1s linear infinite;
}

@utility shadow-notification {
	--tw-shadow: var(--tw-shadow-color, #171717) 0px 4px 15px -6px;
	box-shadow: var(--tw-shadow);
}

@layer components {
	.notification {
		@apply flex items-center min-w-60 w-fit max-w-80 min-h-13 h-fit pl-4 pr-8 py-2 
		rounded-sm 
		text-dark-text dark:text-light-text 
		bg-dark-notification dark:bg-light-notification
		shadow-notification;
	}
	.notification-success {
		@apply bg-success!;
	}
	.notification-error {
		@apply bg-error!;
	}
}

@font-face {
	font-family: "SpecialElite";
	font-style: normal;
	font-weight: 4 00;
	src: url("/fonts/specialelite.woff2") format("woff2");
}

* {
	user-select: none;
}

.text-shadow {
	text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.62);
}
.shadow-button {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
	width: 0.6rem;
	height: 0.6rem;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

img {
	pointer-events: none;
}
